$color-primary-pale: hsl(225, 100%, 94%);
$color-primary-bright: hsl(245, 75%, 52%);

$color-secondary-bright: #766CF1;

$color-neutral-pale: hsl(225, 100%, 98%);
$color-neutral-desaturated: hsl(224, 23%, 55%);
$color-neutral-dark: hsl(223, 47%, 23%);
