@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$font-stack: 'Red Hat Display';
$color-primary-pale: hsl(225, 100%, 94%);
$color-primary-bright: hsl(245, 75%, 52%);

$color-secondary-bright: #766CF1;

$color-neutral-pale: hsl(225, 100%, 98%);
$color-neutral-desaturated: hsl(224, 23%, 55%);
$color-neutral-dark: hsl(223, 47%, 23%);

html {
  background-color: $color-primary-pale;
  background-image: url("./../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $font-stack;
    color: $color-neutral-dark;
    height: 100vh;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

a:hover {
  color: $color-neutral-desaturated;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #FFF;
  border-radius: 25px;
  overflow: hidden;
  max-width: 28.125em;
  height: 700px;
}

.container__image {
  max-width: 100%;
}

.order-summary {
  margin: 1.5em 2.8125em;
}

.title {
  font-weight: 900;
  line-height: 2.5;
}

.container__description {
  color: $color-neutral-desaturated;
  line-height: 1.65;
}

.container__order {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  line-height: 1.25;
  margin: 0.5em 0;
}

.order {
  background-color: $color-neutral-pale;
  border-radius: 15px;
}

.order__icon {
  grid-area: 1 / 1 / 3 / 2;
  padding: 22.5px 25px;
  // width: 45px;
}

.order_plan {
  font-weight: 900;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 20px;
  text-align: left;
}

.order__price {
  grid-area: 2 / 2 / 3 / 3;
  padding-bottom: 20px;
  text-align: left;
  color: $color-neutral-desaturated;
}

.order__change-plan {
  grid-area: 1 / 3 / 3 / 4;
  padding: 1.5625em;
}

.order__link {
  font-size: 13.5px;
  font-weight: 900;
  color: $color-primary-bright;
}

.payment {
  width: 75%;
}

.btn {
  margin: 8px 0;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 17.5px 0;
  width: 78.5%;
}

.btn--proceed {
  color: $color-primary-pale;
  background-color: $color-primary-bright;
  box-shadow: 0px 10px 30px -12.5px $color-secondary-bright;
}

.btn--cancel {
  background-color: $color-neutral-pale;
  color: $color-neutral-desaturated;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  .container {
    max-width: 20.625em;
    height: 35.625em;
  }

  .container__description {
    font-size: 14px;
  }

  .container__order {
    width: fit-content;
  }
}

