@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
html {
  background-color: #e0e8ff;
  background-image: url("./../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Red Hat Display";
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: #7280a7;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #FFF;
  border-radius: 25px;
  overflow: hidden;
  max-width: 420px;
  height: 650px;
}

.order-summary {
  width: 320px;
  line-height: 1.5;
}

.title {
  font-weight: 900;
}

.order {
  display: grid;
  background-color: #f5f7ff;
  border-radius: 15px;
}

.container__order {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.order__icon {
  grid-area: 1/1/3/2;
  padding: 20px;
}

.order_plan {
  font-weight: 900;
  grid-area: 1/2/2/3;
  padding-top: 20px;
}

.order__price {
  grid-area: 2/2/3/3;
  padding-bottom: 20px;
}

.order__change-plan {
  grid-area: 1/3/3/4;
  padding: 20px;
}

.payment {
  width: 75%;
}

.btn {
  margin-top: 20px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 0;
  width: 75%;
}

.btn--proceed {
  color: #e0e8ff;
  background-color: #3829e0;
  box-shadow: 0px 10px 30px -12.5px #766cf1;
}

.btn--cancel {
  background-color: #f5f7ff;
}